<div class="strength mb-2">
  <small class="bar bar-1" [ngClass]="{ 'bar-show': strength > 0 }"></small>
  <small class="bar bar-2" [ngClass]="{ 'bar-show': strength > 1 }"></small>
  <small class="bar bar-3" [ngClass]="{ 'bar-show': strength > 2 }"></small>
  <small class="bar bar-4" [ngClass]="{ 'bar-show': strength > 3 }"></small>
</div>
<small>
  <span>Minimum of 8 characters, 1 uppercase, 1 lower case, 1 special
    character</span>
</small>
<!-- <ul class="guide mb-4">
  <li>Must be at least 6 character</li>
  <li>Must contain a capital letter</li>
  <li>Must contain a number</li>
  <li>Must contain one of $&:;+,=?@#.</li>
</ul> -->