:root {
  --main-color: #7165e3;
}
$primary-color: var(--main-color);
$secondary-color: #171f51;
$accent-color: #1092bc;
$text-color: #434c5b;
$text-color2: #aeb4ca;

$bg-color: #fff;
$bg-color2: #f9f9f9;
$nav-text-color: #fbfbfe;
