<footer class="footer" data-aos="fade-in">

  <div nz-row nzGutter="24" class="footer-row">
    <div nz-col nzSpan="8" class="footer-1">
      <div class="brand" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/svgs/footer-logo.svg" alt="logo">
      </div>
      <p data-aos="fade-up" data-aos-delay="150">AFRICHANGE TECHNOLOGIES LIMITED is registered with FINTRAC in
        Canada as a Money Service Business registration number:
        M19773759.</p>

      <div class="social" data-aos="fade-up" data-aos-delay="10">
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img src="/assets/svgs/socials/linkedin.svg" alt="" srcset="" class="footer-link">
        </a>
        <a href="http://instagram.com/cashoutbynairaex" target="_blank" rel="noopener noreferrer">
          <img src="/assets/svgs/socials/instagram.svg" alt="" srcset="" class="footer-link">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img src="/assets/svgs/socials/twitter.svg" alt="" srcset="" class="footer-link">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img src="/assets/svgs/socials/youtube.svg" alt="" srcset="" class="footer-link">
        </a>
        <a href="https://www.facebook.com/Cashoutbynairaex-100355045856698/" target="_blank" rel="noopener noreferrer">
          <img src="/assets/svgs/socials/facebook.svg" alt="" srcset="" class="footer-link">
        </a>

      </div>
    </div>
    <div nz-col nzSpan="4" class="links" data-aos="fade-up" data-aos-delay="200">
      <h2 class="footer-title">Quick Links</h2>
      <a [routerLink]="['/aboutus']" rel="noopener noreferrer">About</a>
      <a [routerLink]="['/contact']" rel="noopener noreferrer">Contact</a>
      <a [routerLink]="['/help']" rel="noopener noreferrer">Help/FAQ</a>
      <a [routerLink]="['/blog']" target="_blank" rel="noopener noreferrer">Blog</a>
    </div>
    <div nz-col nzSpan="4" class="links" data-aos="fade-up" data-aos-delay="250">
      <h2 class="footer-title">Support</h2>
      <a [routerLink]="['/policies']" rel="noopener noreferrer">Send Money</a>
      <a [routerLink]="['/privacy']" rel="noopener noreferrer">Request Money</a>
    </div>
    <div nz-col nzSpan="4" data-aos="fade-up" data-aos-delay="300" class="links">
      <h2 class="footer-title">Regulations</h2>
      <a [routerLink]="['/policies']" [fragment]="'privacy'" rel="noopener noreferrer">Privacy Policy</a>
      <a [routerLink]="['/policies']" [fragment]="'terms'" rel="noopener">Terms of Service</a>
      <a [routerLink]="['/policies']" [fragment]="'others'" rel="noopener">AML KYC Policy</a>

    </div>
  </div>
  <div class="footer-copywrite" data-aos="fade-up" data-aos-delay="350">© Copyright 2021. Africhange Technologies
    All Right Reserved</div>
</footer>